__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# PyTorch / checkpoints
*.pt
*.pth
*.ckpt

# Logs
logs/
*.log

# Project data / caches
stg/
*.lmdb
doctamper-serving/

